<% @cohorts.each do |cohort| %>
<div id="cohort-<%= cohort.id %>">
  <p>Name: <%= cohort.name %></p>
  <p>Auditorium: <%= cohort.auditorium %></p>
  <p>Start: <%= cohort.start_date %></p>
  <p>End: <%= cohort.end_date %></p>
  <p>Students total: <%= cohort.students_number %></p>

   <% user = current_user.role  %>
  <% unless user == "student" || unless user == "instructor"%>
  <a href="/cohorts/<%=cohort.id%>/edit">Edit</a>
  <td><%= link_to 'Destroy',cohort_path(cohort), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, id: 'delete_cohort' %> </td>
  <% end %>
  <% end %>
  </div>
  <% end %>
  <% user = current_user.role  %>
  <% unless user == "student" || unless user == "instructor"%>
  <a href="/cohorts/new">add a cohort</a>
  <% end %>
  
  
<% end %>