<% @students.each do |student| %>
  <p>Name: <%= student.first_name %> <%= student.last_name %></p>
  <p>Age: <%= student.age %></p>
  <p>Nickname: <%= student.nickname %></p>
  <p>Abilities: <%= student.abilities %></p>
  <p>Cohort: <%= student.cohort_id %></p>
  <p><img src="<%= student.photo %>" style="width:200px;"></p>

<a href="/students/<%=student.id%>/edit">Edit</a>
<a href="/students/<%=student.id%>/delete">Delete</a>

<% end %>

<a href="/students/new">add a student</a>