<% @students.each do |student| %>
<div id="student-<%= student.id %>">
  <p>Name: <%= student.first_name %> <%= student.last_name %></p>
  <p>Age: <%= student.age %></p>
  <p>Nickname: <%= student.nickname %></p>
  <p>Abilities: <%= student.abilities %></p>
  <% specific_cohort = Cohort.find(student.cohort_id) %>
  Cohort: <%= specific_cohort.name %>
   
    <p><img src="<%= student.photo %>" style="width:200px;"></p>
    <% if current_user.role == "admin"%>
      <a href="/students/<%=student.id%>/edit">Edit</a>
      <td><%= link_to 'Destroy',student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, id: 'delete_student' %> </td>
    <% end %>
    </div>
<% end %>



<% if (current_user.role == "admin") %>
  <a href="/students/new">add a student</a>
<% end %>
