<div id="new">
<%= form_with model: @instructor, local: true do |form| %>
  <%= render "shared/errors", object: @instructor %>
  <p>First Name: <%= form.text_field :first_name%></p>
  <p>Last Name: <%= form.text_field :last_name %></p>
  <p>Nickname: <%= form.text_field :nickname %></p>
  <p>Age: <%= form.select :age, ((1..150).map {|i| [i,i] } << []) %></p>
  <p>Abilities: <%= form.text_field :abilities %></p>
  <p>Salary: <%= form.text_field :salary %></p>
  <p>Photo: <%= form.text_field :photo_url %></p>
  <p>Education: <%= form.select(:education, ['HS', 'College', 'Masters', 'PHD'], {}, { }) %></p>
  <p>Course: <%= form.collection_select(:course_id, Course.all, :id, :name) %></p>
 <p id="submit_button"><%= form.submit %></p>
<% end %> 
</div>