<% @instructors.each do |instructor| %>
  <p>Name: <%= instructor.first_name %> <%= instructor.last_name %></p>
  <p>Age: <%= instructor.age %></p>
  <p>Nickname: <%= instructor.nickname %></p>
  <p>Abilities: <%= instructor.abilities %></p>
  <p>Salary: <%= instructor.salary %></p>
  <p>Education: <%= instructor.education %></p>
  <p>Course: <%= instructor.course_id %></p>
  <p><img src="<%= instructor.photo_url %>" style="width:200px;"></p>
  <a href="/instructors/<%=instructor.id%>">Go to personal page</a>
<% end %>