<% @instructors.each do |instructor| %>
  <p>Name: <%= instructor.first_name %> <%= instructor.last_name %></p>
  <p>Age: <%= instructor.age %></p>
  <p>Nickname: <%= instructor.nickname %></p>
  <p>Abilities: <%= instructor.abilities %></p>
  <p>Salary: <%= instructor.salary %></p>
  <p>Education: <%= instructor.education %></p>
   <% specific_course = Course.find(instructor.course_id) %>
  Course: <%= specific_course.name %>
  <p><img src="<%= instructor.photo_url %>" style="width:200px;"></p>
  <a href="/instructors/<%=instructor.id%>">Go to personal page</a>

   <% user = current_user.role  %>
  <% unless user == "student" || unless user == "instructor"%>
  <a href="/instructors/<%=instructor.id%>/edit">Edit</a>
  <a href="/instructors/<%=instructor.id%>/delete">Delete</a>
  <% end %>
  <% end %>
  <% end %>
  <% user = current_user.role  %>
  <% unless user == "student" || unless user == "instructor"%>
  <a href="/instructors/new">add a instructor</a>
  <% end %>
<% end %>