<%# <form method="post" action="/users/new">
  Username:<input type="text" name="username" placeholder="username"/>
  Email: <input type="text" name="email" placeholder="email"/>
  Role: <input type="text" name="role" placeholder="role"/>
  Password: <input type="text" name="password" placeholder="password"/>
  <input type="submit" value="Go" />
</form> %>

<%= form_with model: @user do |form| %>
  Username: <%= form.text_field :username %>
  Email: <%= form.text_field :email %>
  Role: <%= form.text_field :role %>
  Password: <%= form.text_field :password %>
  <%= form.hidden_field :user_id, value: @user_id %>
  <%= form.submit %>
<% end %>