<div id="new">
<%= form_with model: @schedule, local: true do |form| %>
<%= render "shared/errors", object: @schedule %>
  <p>Day: <%= form.text_field :day_of_week%></p>
  <p>Time: <%= form.text_field :time %></p>
  <p>Course: <%= form.text_field :course_id %></p>
  <p>Cohort: <%= form.text_field :cohort_id %></p>
  <p>Instructor: <%= form.text_field :instructor_id %></p>
  <p id="submit_button"><%= form.submit %></p>
<% end %> 
</div>