
<div id="schedules">
    <% @schedule_days.each do |day, schedules| %>
            <div class="schedule-day">
                <%= day.upcase %>
        <table class="ui selectable celled table">
        <thead>
            <tr>
            <th>TIME</th>
            <th>COURSE</th>
            <th>INSTRUCTOR</th>
            <% if current_user.role == "admin" %>
                    <th>ACTION</th>
                    <% end %>
            </tr>
        </thead>
        <tbody>
        
                <% schedules.each do |schedule|%>
                    <tr id="schedule-<%= schedule.id %>" class="schedule">
                        <td><%=schedule.time%></td>
                        <td><%= schedule.course.name %></td>
                        <td><%= schedule.instructor.full_name %></td>
                        <% if current_user.role == "admin" %>
                            <td><a href="/schedules/<%=schedule.id%>/edit" id="edit_schedule">EDIT</a> | <%= link_to 'DESTROY', schedule_path(schedule), method: :delete, data: { confirm: 'Are you sure?' }, id: 'delete_schedule',remote: true %> </td>
                        <% end %>
                    </tr>
                <% end %>
        
        </tbody>
        </table>
        
            </div>
        <%end%>
</div>

