<div id="new">
<%= form_with model: @course, local: true do |form| %>
  <%= render "shared/errors", object: @course %>
 <p> Name: <%= form.text_field :name%></p>
  <p>Class Hours: <%= form.text_field :class_hours %></p>
  <p id="submit_button"><%= form.submit %></p>
<% end %> 
</div>