<!DOCTYPE html>
<html>
  <head>
    <title>XMen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav>
   
    <% if user_signed_in? %>
  <h1> HI, <%=current_user.name%> ! </h1>
 <h2>WELCOME TO THE PANEL OF <%=current_user.role%>S </h2>
    <% user = current_user.role  %>
    
        <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
        <%= link_to 'EDIT PROFILE', edit_user_registration_path %>
          <% if user == "student" %> 

<p><a href="/instructors"> INSTRUCTORS </a></p>
 <p><a href="/courses"> COURSES </a></p>
 <p><a href="/schedules"> SCHEDULE </a></p>
 
<% elsif user == "instructor"%>

        <p><a href="/students"> STUDENTS </a></p>
        <p><a href="/courses"> COURSES </a></p>
      <p><a href="/instructors"> INSTRUCTORS </a></p>
      <p><a href="/cohorts"> COHORTS </a></p>
      <p><a href="/schedules"> SCHEDULE </a></p>

      <% else %>
      <p><a href="/students"> STUDENTS </a></p>
        <p><a href="/courses"> COURSES </a></p>
      <p><a href="/instructors"> INSTRUCTORS </a></p>
      <p><a href="/cohorts"> COHORTS </a></p>
      <p><a href="/schedules"> SCHEDULE </a></p>
      <%end%>
    <% end %>
</nav>


   <%= yield %>
  </body>
</html>