<!DOCTYPE html>
<html>
  <head>
    <title>XMen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= yield %>
  <nav>
   
    <% if user_signed_in? %>
  
    <% user = current_user.role  %>
    
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <%= link_to 'Edit Profile', edit_user_registration_path %>
          <% if user == "student" %> 

<p><a href="/instructors"> See instructors </a></p>
 <p><a href="/courses"> See courses </a></p>
 <p><a href="/schedules"> See schedule </a></p>
<% elsif user == "instructor"%>


        <p><a href="/students"> See students </a></p>
        <p><a href="/courses"> See courses </a></p>
      <p><a href="/instructors"> See instructors </a></p>
      <p><a href="/cohorts"> See cohorts </a></p>
      <p><a href="/schedules"> See schedule </a></p>

      <% else %>
      <p><a href="/students"> See students </a></p>
        <p><a href="/courses"> See courses </a></p>
      <p><a href="/instructors"> See instructors </a></p>
      <p><a href="/cohorts"> See cohorts </a></p>
      <p><a href="/schedules"> See schedule </a></p>
      <%end%>
    <% end %>
</nav>


   
  </body>
</html>
