<!DOCTYPE html>
<html>
  <head>
    <title>XMen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav>
   
    <% if user_signed_in? %>
  <h1>Hello <%=current_user.name%> ! </h1>
 <h2>Welcome to the panel of <%=current_user.role%>s </h2>
    <% user = current_user.role  %>
    
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <%= link_to 'Edit Profile', edit_user_registration_path %>
          <% if user == "student" %> 

<p><a href="/instructors"> See instructors </a></p>
 <p><a href="/courses"> See courses </a></p>
 <p><a href="/schedules"> See schedule </a></p>
 
<% elsif user == "instructor"%>


        <p><a href="/students"> See students </a></p>
        <p><a href="/courses"> See courses </a></p>
      <p><a href="/instructors"> See instructors </a></p>
      <p><a href="/cohorts"> See cohorts </a></p>
      <p><a href="/schedules"> See schedule </a></p>

      <% else %>
      <p><a href="/students"> See students </a></p>
        <p><a href="/courses"> See courses </a></p>
      <p><a href="/instructors"> See instructors </a></p>
      <p><a href="/cohorts"> See cohorts </a></p>
      <p><a href="/schedules"> See schedule </a></p>
      <%end%>
    <% end %>
</nav>

   <%= yield %>
   
  </body>
</html>